{% extends "gridsquid/layout-login.html" %}
{% load static %}

{% block title %}
    GridSquid - Register
{% endblock %}

{% block script %}
    <script src="{% static 'gridsquid/js/guestcookie.js' %}" defer></script>
{% endblock %}

{% block body %}
    <div class="full-screen-container">
        <div class="login-register-container">
            <div class="login-register-logo-container">
                <img class="login-register-logo" src="{% static 'gridsquid/img/gs_logo_long_dark.svg' %}"></a>
            </div>
            <h1 class="login-register-title">Registration</h1>
            <form class="form" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {% if message %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endif %}
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input autofocus type="text" name="username">
                </div>
                <div class="input-group">
                    <label for="email">Email Address:</label>
                    <input type="email" name="email">
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password">
                </div>
                <div class="input-group">
                    <label for="confirmation">Confirm Password:</label>
                    <input type="password" name="confirmation">
                </div>
                <button type="submit" class="login-register-button">Register</button>
                <p class="login-register-text">Already have an account? <a href="{% url 'login' %}">Log in here</a> or continue as a <a href="{% url 'index' %}">guest</a>.</p>
            </form>
        </div>
    </div>
{% endblock %}