{% extends "gridsquid/layout-login.html" %}
{% load static %}

{% block title %}
    GridSquid - Reset Password Sent
{% endblock %}

{% block script %}
    <script src="{% static 'gridsquid/js/guestcookie.js' %}" defer></script>
{% endblock %}

{% block body %}
    <div class="full-screen-container">
        <div class="login-register-container">
            <div class="login-register-logo-container">
                <img class="login-register-logo" src="{% static 'gridsquid/img/gs_logo_long_dark.svg' %}"></a>
            </div>
            <h1 class="login-register-title">Check Your Email!</h1>
            <div class="form">
                <p class="reset-password-text">We've emailed you instructions for resetting your password. If you don't receive this email shortly, please:</p>
                <ul>
                    <li>Verify the email you entered is correct</li>
                    <li>Make sure it's the email you registered with</li>
                    <li>Check your spam folder</li>
                </ul>
                <p class="login-register-text">Or you can <a href="{% url 'password_reset' %}">try again</a>, <a href="{% url 'login' %}">log in</a>, <a href="{% url 'register' %}">register</a>, or continue as a <a href="{% url 'index' %}">guest</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}