{% extends "gridsquid/layout-login.html" %}
{% load static %}

{% block title %}
    GridSquid - Reset Password Sent
{% endblock %}

{% block script %}
    <script src="{% static 'gridsquid/js/guestcookie.js' %}" defer></script>
{% endblock %}

{% block body %}
    <div class="full-screen-container">
        <div class="login-register-container">
            <div class="login-register-logo-container">
                <img class="login-register-logo" src="{% static 'gridsquid/img/gs_logo_long_dark.svg' %}"></a>
            </div>
            <h1 class="login-register-title">Password Reset Complete</h1>
            <div class="form">
                <p class="login-register-text">Please <a href="{% url 'login' %}">log in</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}