{% extends "gridsquid/layout-login.html" %}
{% load static %}

{% block title %}
    GridSquid - Reset Password
{% endblock %}

{% block script %}
    <script src="{% static 'gridsquid/js/guestcookie.js' %}" defer></script>
{% endblock %}

{% block body %}
    <div class="full-screen-container">
        <div class="login-register-container">
            <div class="login-register-logo-container">
                <img class="login-register-logo" src="{% static 'gridsquid/img/gs_logo_long_dark.svg' %}"></a>
            </div>
            <h1 class="login-register-title">Reset Password</h1>
            <form class="form" method="post">
                {% csrf_token %}
                <p class="login-register-text">We will email instructions for setting a new password.</p>
                <div class="reset-password-form">
                    {{ form }}
                </div>
                <button type="submit" class="login-register-button" name="Send email">Submit</button>
                <p class="login-register-text">Or you can <a href="{% url 'login' %}">log in</a>, <a href="{% url 'register' %}">register</a>, or continue as a <a href="{% url 'index' %}">guest</a>.</p>
            </form>
        </div>
    </div>
{% endblock %}